/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #fff8f0;
  color: #333;
}

header {
  background-color: #d62828;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}


nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a.activo,
nav a:hover {
  text-decoration: underline;
  color: #000;
}

main {
  padding: 2rem;
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #ff8989f7;
}

.inventary-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem 1rem;
  margin-bottom: 25px;

}

.product-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 10px 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
  transform: translateY(5px);
  box-shadow: 0px 20px 16px rgba(0, 0, 0, 0.77);
}

.product-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.product-card p {
  font-size: 0.95rem;
  margin-bottom: 0.75rem;
}

.-card span {
  font-weight: bold;
  font-size: 1.1rem;
  color: #d62828;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin: 9rem 1rem 0px 1rem;
  border-radius: 10px;
}
